@import "tailwindcss";


@media print {

  html, body {
    background: #ffffff !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Oculta todo excepto la factura */
  body * {
    visibility: hidden !important;
  }

  #invoice-print,
  #invoice-print * {
    visibility: visible !important;
  }

  /* Limpieza de estilos */
  * {
    box-shadow: none !important;
    outline: none !important;
    filter: none !important;
    background: transparent !important;
  }

  /* -------- FACTURA MEDIA CARTA, ESCALADA Y CENTRADA -------- */
  #invoice-print {
    position: absolute;
    top: 0;

    /* CENTRAR factura en la hoja */
    left: 50% !important;

    width: 100% !important;
    max-width: 21.59cm !important;

    height: 14cm !important;
    background: #ffffff !important;
    margin: 0 !important;
    padding: 0 !important;

    border: none !important;
    box-shadow: none !important;

    /* Ajuste de escala */
    transform-origin: top center !important;

    /* Ajustar escala para que NO se corte → tú puedes modificar este valor */
    transform: translateX(-50%) scale(0.78) !important;
  }

  /* Página carta completa sin márgenes */
  @page {
    size: letter;
    margin: 0;
    background: #ffffff !important;
  }
}

